{% extends 'pageUtils/base-user.html' %}

{% block content %}
{% if bloques %}
{{ bloques|json_script:"bloquesdata" }}
{{ campuss|json_script:"campusdata" }}

<div class="container-fluid border" style="background-color: white; padding-top: 20px; border-radius: 4px; border: 1px solid #ffffff; box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);">
  <div class="row "></div>
  <div id="map" style="width: 1600px; height: 750px;"></div>
  <div id="map-label" class="map-label" style="font-weight: bold; padding: 20px;">Universidad Nacional de Loja</div>
  <!-- Contenedor para el círculo palpitante -->
  <div id="pulse-circle-container"></div>
</div>

<style>
  /* Estilos para el mapa y los elementos del mapa */
  .pulse-circle {
    width: 100px;
    height: 100px;
    border: 3px solid rgba(255, 0, 0, 0.5);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  @keyframes pulse {
    0%, 100% {
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.7;
    }
    50% {
      transform: translate(-50%, -50%) scale(1.2);
      opacity: 0.3;
    }
  }

  .animated-label {
    position: absolute;
    padding: 5px 10px;
    background: linear-gradient(to right, rgba(242, 242, 1, 0.974) 26%, rgba(1, 210, 0, 0.674) 63%, rgba(255, 0, 0, 0.674) 100%);
    color: #010000;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transform: translate(-50%, -150%);
    animation: fadeInOut 3s infinite ease-in-out;
    opacity: 0.7;
    transition: opacity 2s;
  }

  .animated-label:hover,
  .animated-label:hover + .pulse-circle {
    opacity: 1;
  }

  @keyframes fadeInOut {
    0%, 100% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
  }

  .marker-tooltip {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateX(100%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 1000;
  }

  .marker:hover .marker-tooltip {
    opacity: 1;
    transform: translateX(110%);
  }

  .genie-animation {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 4px;
    padding: 8px 12px;
    white-space: nowrap;
    transform-origin: top left;
    transform: scale(0) translateY(-100%);
    animation: genie-animation 0.5s ease forwards;
    z-index: 1000;
  }

  @keyframes genie-animation {
    0% {
      transform: scale(0) translateY(-100%);
    }
    70% {
      transform: scale(1.1) translateY(-30%);
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }
</style>

<script>
  (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
    key: "AIzaSyAMFoCMTroNP6FovWouT52TMnDlNfqpVLU",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
  
  let map;
  var markers = [];
  let bloquesData = JSON.parse(document.getElementById('bloquesdata').textContent);

  // Activar animación de círculo cuando Pegman esté activo
  function activatePulseAnimation(active) {
    let pulseCircleDiv = document.querySelector('.pulse-circle');
    if (pulseCircleDiv) {
      pulseCircleDiv.style.animation = active ? 'pulse 1s infinite ease-in-out' : 'none';
    }
  }

  async function initMap() {
    const position = { lat: -4.034410, lng: -79.202563 };
    const { Map } = await google.maps.importLibrary("maps");

    map = new Map(document.getElementById("map"), {
      zoom: 16,
      center: position,
      mapId: "DEMO_MAP_ID",
      streetViewControl: true
    });

    const positionCircle = new google.maps.LatLng(-4.033567, -79.201403);
    addPulseCircle(map, positionCircle);

    let checkInterval = setInterval(() => {
      let pegmanButton = document.querySelector('button[title*="Street View"]');
      if (pegmanButton) {
        clearInterval(checkInterval);
        pegmanButton.addEventListener('mousedown', () => {
          activatePulseAnimation(true);
        });
        window.addEventListener('mouseup', () => {
          activatePulseAnimation(false);
        });
      }
    }, 100);

    const triangleCoords = [
      { lat: -4.030758408796387, lng: -79.19970656084314 },
      { lat: -4.035487, lng: -79.199667 },
      { lat: -4.037348, lng: -79.204178 },
      { lat: -4.03696369690101, lng: -79.2066423137667 },
      { lat: -4.0361034382211765, lng: -79.20621968451417 },
      { lat: -4.036283959951185, lng: -79.20541403409355 },
      { lat: -4.0329109967425785, lng: -79.20255192126763 },
      { lat: -4.032600, lng: -79.201661 },
    ];
    drawPolygons(map, triangleCoords);
    await addMarkers(map, triangleCoords, null);

    const personIcon = {
      url: "/static/utils/img/persona.gif",
      scaledSize: new google.maps.Size(40, 40),
    };
    await addMarkers(map, triangleCoords, personIcon);

    const campusData = JSON.parse(campusdata.textContent);
    let lenBloques = Object.values(bloquesData).length;
    let listaNombres = Object.values(bloquesData).map((bloque, index) => (index + 1) + '. ' + bloque.fields.nombre).join('\n');

    Object.values(bloquesData).forEach(bloque => {
      if (bloque.fields.entrada_campus) {
        const marker = new google.maps.Marker({
          position: { lat: parseFloat(bloque.fields.latitud), lng: parseFloat(bloque.fields.longitud) },
          map: map
        });
        const campus = campusData.find(c => c.pk === parseInt(bloque.fields.campus));
        const campusName = campus ? campus.fields.nombre : 'Nombre no encontrado';

        addAnimatedLabel(map, marker.getPosition(), campusName, 30);
        markers.push({ marker: marker, name: listaNombres });
        addGenieAnimation(map, marker, listaNombres);

        setTimeout(() => {
          removeGenieAnimation(map, marker);
        }, 2000);

        let strDescription = "Cantidad de bloques: " + lenBloques + "\n" + listaNombres;
        marker.addListener('mouseover', () => {
          addGenieAnimation(map, marker, strDescription);
        });

        marker.addListener('mouseout', () => {
          removeGenieAnimation(map, marker);
        });
      }
    });

    startRandomLegendDisplay();
  }

  function addPulseCircle(map, position) {
    const overlay = new google.maps.OverlayView();
    overlay.onAdd = function () {
      const layer = this.getPanes().overlayMouseTarget;
      const div = document.createElement('div');
      div.className = 'pulse-circle';
      layer.appendChild(div);

      this.draw = function () {
        const projection = this.getProjection();
        const point = projection.fromLatLngToDivPixel(position);
        div.style.left = point.x - 50 + 'px';
        div.style.top = point.y - 50 + 'px';
        div.style.position = 'absolute';
      };
    };
    overlay.setMap(map);
  }

  function addAnimatedLabel(map, position, text, offsetY = 30) {
    const overlay = new google.maps.OverlayView();
    overlay.onAdd = function () {
      const layer = this.getPanes().overlayLayer;
      const div = document.createElement('div');
      div.className = 'animated-label';
      div.innerHTML = text;
      layer.appendChild(div);

      overlay.draw = function () {
        const projection = this.getProjection();
        const point = projection.fromLatLngToDivPixel(position);
        div.style.left = point.x + 'px';
        div.style.top = (point.y - offsetY) + 'px';
      };
    };
    overlay.setMap(map);
  }

  function addMarkers(map, triangleCoords, icon = null) {
    if (icon != null) {
      const marker = new google.maps.Marker({
        position: triangleCoords[6],
        map: map,
        icon: icon,
        title: "Te encuentras aquí",
      });

      document.querySelectorAll('[id^="redirectCampus"]').forEach(button => {
        button.addEventListener('click', (e) => {
          const campusId = e.currentTarget.getAttribute('data-campus-id');
          animateMarker(marker, triangleCoords[6], triangleCoords[7], () => {
            animateMarker(marker, triangleCoords[7], triangleCoords[0], () => {
              window.location.href = `/carrera/${campusId}/bloques/`;
            });
          });
        });
      });
    }
  }

  function startRandomLegendDisplay() {
    setInterval(function () {
      if (markers.length === 0) return;
      const randomIndex = Math.floor(Math.random() * markers.length);
      const randomMarkerInfo = markers[randomIndex];
      addGenieAnimation(map, randomMarkerInfo.marker, randomMarkerInfo.name);
      setTimeout(() => {
        removeGenieAnimation(map, randomMarkerInfo.marker);
      }, 2000);
    }, 300000);
  }

  function addGenieAnimation(map, marker, text) {
    const div = document.createElement('div');
    div.className = 'genie-animation';
    div.innerHTML = text.replace(/\n/g, '<br>');
    map.getDiv().appendChild(div);

    const overlay = new google.maps.OverlayView();
    overlay.onAdd = function () {
      this.getPanes().overlayLayer.appendChild(div);
    };
    overlay.draw = function () {
      const projection = this.getProjection();
      const point = projection.fromLatLngToDivPixel(marker.getPosition());
      div.style.left = point.x + 'px';
      div.style.top = point.y + 'px';
    };
    overlay.setMap(map);
  }

  function removeGenieAnimation(map, marker) {
    const divs = map.getDiv().getElementsByClassName('genie-animation');
    if (divs.length > 0) {
      divs[0].parentNode.removeChild(divs[0]);
    }
  }

  function drawPolygons(map, triangleCoords) {
    const UNLTriangleCampus = new google.maps.Polygon({
      paths: triangleCoords,
      strokeColor: "#00FF00",
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: "#FF0000",
      fillOpacity: 0.15,
    });
    UNLTriangleCampus.setMap(map);
  }

  function animateMarker(marker, start, end, onComplete) {
    let startTime;
    const duration = 1000;
    function animate(time) {
      if (!startTime) startTime = time;
      const progress = (time - startTime) / duration;
      if (progress < 1) {
        const lat = start.lat + (end.lat - start.lat) * progress;
        const lng = start.lng + (end.lng - start.lng) * progress;
        marker.setPosition({ lat, lng });
        requestAnimationFrame(animate);
      } else {
        marker.setPosition(end);
        if (onComplete) onComplete();
      }
    }
    requestAnimationFrame(animate);
  }

  function addRotatedText(map, position, text) {
    const overlay = new google.maps.OverlayView();
    overlay.onAdd = function () {
      const layer = this.getPanes().overlayLayer;
      const div = document.createElement('div');
      div.style.position = 'absolute';
      div.style.transform = 'rotate(-45deg)';
      div.style.whiteSpace = 'wrap';
      div.style.fontSize = '16px';
      div.style.fontWeight = 'bold';
      div.style.color = '#FF0000';
      div.innerHTML = text;
      layer.appendChild(div);
      overlay.draw = function () {
        const projection = this.getProjection();
        const point = projection.fromLatLngToDivPixel(position);
        div.style.left = point.x - 60 + 'px';
        div.style.top = point.y + 'px';
      };
    };
    overlay.setMap(map);
  }

  window.handleSearch = handleSearch;

  function handleSearch(event) {
    event.preventDefault();
    let searchTerm = document.getElementById('searchInput').value.toLowerCase();
    let found = false;

    bloquesData.forEach(bloque => {
      if (bloque.fields.nombre.toLowerCase() === searchTerm) {
        let position = { lat: parseFloat(bloque.fields.latitud), lng: parseFloat(bloque.fields.longitud) };
        map.setCenter(position);
        map.setZoom(18);
        let panorama = new google.maps.StreetViewPanorama(document.getElementById('map'), {
          position: position,
          pov: { heading: 34, pitch: 10 }
        });
        map.setStreetView(panorama);
        found = true;
      }
    });

    if (!found) {
      alert("No se encontró el bloque especificado.");
    }
  }

  initMap();
</script>

{% else %}
<div style="text-align: center;">
  <div id="error-container" style="margin-bottom: 20px;">
    <p>El campus {{ campus.codigo_identificativo }} no cuenta con bloques que permitan una visita en 360. Añada bloques desde el administrador</p>
    <button onclick="window.history.back()" class="btn btn-warning">Ir a Admin</button>
  </div>
  <p style="font-style: italic; color: green;">¡Gracias por visitarnos!</p>
</div>
<script>
  console.log("No ingreso");
</script>
{% endif %}
{% endblock %}
